body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
header{
    width: 100%;
    height: 50px;
    position: relative;
}
#click{
    margin-left: 5px;
    margin-top: 5px;
    padding: 200px;
    align-items: center;
    background-color: red;
    color: orange;
    font-weight: 800;
    font-size: 20px;
}
    
